<div id="user-show">
  <div class="jumbotron mt-4">
    <h1 class="text-center display-4"><%= @user.username %></h1>
    <% @user.attended_events.each do |attended_event| %>
      <li><%= link_to attended_event.title, attended_event %></li>
    <% end %>
  </div>
</div>















<!--<h1><%#= @user.username %></h1>-->
<!--<p><%#= @user.email %></p>-->

<!--<h3>My Events:</h3>-->

<!--<%# @user.events.each do |event| %>-->
<!--  <li><%#= link_to event.title, event %></li>-->
<!--<%# end %>-->