<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<small>By: <%= @event.creator.username %></small>

<h3>Attendees:</h3>

<% @event.attendees.each do |attendee| %>
  <li><%= link_to attendee.username, attendee %></li>
<% end %>